In [5]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score


def warn(*args, **kwargs):
    pass


warnings.warn = warn
warnings.filterwarnings('ignore')

In [6]:
df_pd = pd.read_csv("data/cleaned_data.csv")
df_pd.head()

,BathroomCount,BedroomCount,ConstructionYear,District,Fireplace,FloodingZone,Furnished,Garden,GardenArea,Kitchen,...,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
0,1.0,1,1969.0,Brugge,0.0,False,0.0,0.0,0.0,False,...,1.0,0.0,GOOD,flat_studio,0.0,0.0,1.0,1.0,2,residential_sale
1,0.0,2,1972.0,Hasselt,0.0,NON_FLOOD_ZONE,0.0,0.0,0.0,False,...,1.0,0.0,AS_NEW,apartment,0.0,0.0,1.0,1.0,2,residential_sale
2,1.0,0,1974.0,Namur,0.0,NON_FLOOD_ZONE,0.0,0.0,0.0,SEMI_EQUIPPED,...,0.0,1.0,GOOD,flat_studio,0.0,0.0,1.0,1.0,2,residential_sale
3,1.0,0,1974.0,Namur,0.0,NON_FLOOD_ZONE,0.0,0.0,0.0,NOT_INSTALLED,...,0.0,0.0,GOOD,flat_studio,0.0,0.0,1.0,0.0,2,residential_sale
4,2.0,0,1950.0,Brussels,0.0,NON_FLOOD_ZONE,0.0,1.0,100.0,SEMI_EQUIPPED,...,0.0,0.0,GOOD,apartment_block,178.0,0.0,0.0,3.0,1,residential_sale